html {
    background: url(/static/images/sail.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#bg {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 250, 214, 0.2);
}

#login_form {
    margin-top: 2%;
    margin-left: 20%;
    height: 70%;
    overflow-y: scroll;
}

input[type=text], input[type=password] {
    background: rgba(255, 250, 214, 0.5);
    font-size: 20px;
    border: 2px solid #654b40;
    border-radius: 4px;
    padding: 3px 3px;
    margin: 5px 0;
    box-sizing: border-box;
}

#sign_up input {
    width: 400px;
}

label {
    color: #654b40;
    font-size: 23px;
    font-weight: bold;
}

h1 {
    color: #654b40;
    font-size: 3.5em;
    margin-left: 20%;
}

#login_title {
    margin-top: 10%;
}

#sign_up_title {
    margin-top: 2%;
}

.btn {
    background-color: #654b40;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
    padding: 5px 5px;
    width: 260px;
}

p {
    font-size: 20px;
    color: #654b40;
    font-weight: bold;
}

.btn:hover, input[type=text]:focus, input[type=password]:focus {
    box-shadow: 3px 5px 10px 10px #fff4a3;
}