html {
    background: rgba(255, 250, 241, 0.5);
}

button {
    color: white;
    background-color: #00539B;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

button:hover, #back:hover, #delete:hover {
    cursor: pointer;
}

label {
    display:inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

textarea {
    width: 60%;
    resize: none;
}

.larger_input {
    height: 70px;
}

.alert {
    color: #c3412d;
    font-weight: bold;
}

.menu p {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 3%;
}

.menu, .example_list, .paging, .main_content {
    margin-left: 18%;
}

.page_title, .paging, .menu, .right_menu {
    color: #012169;
}

.paging a, .menu p {
    font-weight: bold;
    font-size: large;
}

.top_bar {
    display: flex;
}

.page_title, .search_bar, .right_menu, .menu p {
    display: inline-block;
}

.page_title {
    width: 18.5%;
}

.page_title h3 {
    margin-left: 2%;
}

.search_bar {
    margin-top: 0.5%;
    width: 60%;
}

.search_bar input {
    width: 80%;
    height: 25px;
}

.search_bar button {
    margin-left: 5px;
    width: 100px;
}

.right_menu {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.blue_line {
    border-bottom: 2px solid #00539B;
}

.top_bar img {
    margin-right: 2%;
    width: 50px;
    height: 50px;
}

.main_content {
    margin-top: 2%;
    width: 65%;
}

.list_item img {
    width: 12%;
    height: 12%;
    margin-right: 3%;
}

.list_item {
    display: inline-flex;
    margin-bottom: 2%;
    width: 100%;
}

.list_item h2, .list_item h3 {
    width: fit-content;
    margin: 0;
}

.paging {
    margin-top: 2%;
    margin-bottom: 2%;
}

.paging a {
    padding: 0.5%;
    margin-right: 2%;
}

.paging a:hover, .menu p:hover, .right_menu h3:hover, .right_menu img:hover, .product_info h2:hover {
    cursor: pointer;
    color: #00539B;
    background-color: #fff4a3;
    box-shadow: 3px 3px 20px 8px #fff4a3;
}

.active {
    color: white;
    background-color: #00539B;
    border-radius: 50px;
}

#back {
    margin-left: 1%;
    margin-right: 14%;
}

#back {
    transition: transform .7s ease-in;
}

#back:hover {
  transform: rotate(-360deg);
}

.with_tag, .green_tag, .gray_tag{
    display: inline-block;
}

.green_tag, .gray_tag {
    margin-left: 2%;
    padding: 4px;
    border-radius: 5px;
}

.green_tag {
    background-color: rgba(161, 183, 13, 0.2);
    border: 2px solid #A1B70D;
}

.gray_tag {
    background-color: rgba(218, 208, 198, 0.3);
    border: 2px solid #DAD0C6;
}

.modify_cart {
    display: flex;
}

.plus_minus {
    font-size: large;
    font-weight: bolder;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 1%;
}

#delete {
    width: 18px;
    margin: 1%;
}