<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('index.index') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Account home</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <h2>{{ data.name }}</h2>
        <p>Account number: {{ data.id }}</p>
        <p>Email: {{ data.email }}</p>
        <p>Address: {{ data.address }}</p>
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        <button onclick="window.location.href='{{ url_for('users.edit_account') }}'" >Edit info</button>
        <button onclick="window.location.href='{{ url_for('users.change_pw') }}'" >Change password</button>
        <button class="grey" onclick="window.location.href='{{ url_for('users.logout') }}'" >Log out</button>

        <br>

        <h2>Balance: ${{ data.balance }}</h2>
        <button onclick="window.location.href='{{ url_for('users.add_fund') }}'">Add fund</button>
        <button onclick="window.location.href='{{ url_for('users.withdraw_fund') }}'">Withdraw</button>

        <br>

        <h2>Purchase history</h2>
        <button onclick="window.location.href='{{ url_for('users.purchase_history') }}'">Browse</button>

        <h2>Selling Treasures</h2>
        <button onclick="window.location.href='{{ url_for('sellers.seller') }}'" >View</button>
    </div>
</body>
</html>