<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>

    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}



    <div class="top_bar">
        <a id="back" href="{{ url_for('sellers.inventory') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Add inventory</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.category.label }}<br/>
                {{ form.category }}<br/>
                {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.name.label }}<br/>
                {{ form.name }}<br/>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.quantity.label }} (Please enter integer)<br/>
                {{ form.quantity(size=32) }}<br/>
                {% for error in form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.price.label }} (Please enter integer or fraction)<br/>
                {{ form.price(size=32) }}<br/>
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image.label }} (Please enter the URL of the image)<br/>
                {{ form.image(size=64) }}<br/>
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br/>
                {{ form.description(size=200) }}<br/>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>

            <button class="grey" onclick="window.location.href='{{ url_for('sellers.inventory') }}'" >Cancel</button>
    </div>
</body>
</html>