<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
</head>

<body>

    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}

    <div class="row g-3 mt-2">
        <a id="back" href="{{ url_for('sellers.seller') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>

        <h2>Analysis</h2>
        <div class="col-md-7"></div>



        <div class="col-md-1 col-form-label"><a href="{{ url_for('sellers.running_low')}}">Running Low</a></div>
        <div class="col-md-1 col-form-label">Hot Items</div>
        <div class="col-md-1">
            <!--<a href="{{ url_for('cart.cart')}}">
                <img  src="{{ url_for('static', filename='images/chest.png') }}">
            </a>-->
        </div>
    </div>

    <div class="blue_line"></div>
    <div class="main_content">
        
        <h2>Hot Items</h2>
        <h3></h3>
        {% for hot_item in hot_items%}
            <div class="list_item">
                <img src="{{hot_item.img}}" />
                <!--<img src="{{ url_for('static', filename='images/anchor.jpg') }}" />-->
                <div class="product_info">
                    <a href="{{ url_for('sellers.inventory_detail')}}?stock_id={{hot_item.stock_id}}">{{hot_item.pname}}</a>
                    <h3>Sold Last Week: {{hot_item.quantity}}</h3>
                    <h3>$ {{hot_item.unit_price}}</h3>
                    <button class="blue" onclick="window.location.href='{{ url_for('sellers.edit_inventory') }}?stock_id={{hot_item.stock_id}}'" >Edit</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="paging">
        <a class="active">{{current_page}}</a>
    </div> -->

</body>

</html>