<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
</head>

<body>

    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}

    <div class="row g-3 mt-2">
        <a id="back" href="{{ url_for('users.purchase_history') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <h2>Order Details</h2>





        <div class="col-md-1">
            <!--<a href="{{ url_for('cart.cart')}}">
                <img  src="{{ url_for('static', filename='images/chest.png') }}">
            </a>-->
        </div>
    </div>

    <div class="blue_line"></div>

    <div class="main_content">
        {% if order_status == 'Unfulfilled' %}
            <h1>Order: {{order_num}} </h1> <h1 style = 'color:GREY'>{{order_status}}</h1>
        {% else %}
            <h1>Order: {{order_num}} </h1> <h1 style = 'color:GREEN'>{{order_status}}</h1>
        {% endif %}
        <div class="blue_line"></div>   
        {% for order_detail in order_details %}
                <div class="product_info">
                    <br>
                    <h3>{{order_detail.pname}}</h3>
                    <h3>$ {{order_detail.price}}
                    <h4>Seller: {{order_detail.sname}}</h4>
                    <h4>Shipping Address: {{order_detail.address}}</h4>
                    <h4>Quantity: {{order_detail.quantity}}</h4>
                    <h4>Order Placed: {{order_detail.order_time}}</h4>
                    {% if order_detail.status == 3 %}
                        <h4 style="display: inline">Status: </h4><h4 style="display: inline;color: green">Fulfilled</h4>
                        <h4>Fulfilled Time: {{order_detail.fulfill_time}}</h4>
                    {% else %}
                        <h4 style="display: inline">Status: </h4><h4 style="display: inline;color: grey">Unfulfilled</h4>
                    {% endif %}
                    
                </div>
        {% endfor %}
    </div>

    <!-- <div class="paging">
        <a class="active">{{current_page}}</a>
    </div> -->

</body>

</html>