<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<div class="py-5 text-center">
    <h2>Shopping Cart</h2>
</div>
<div class="container padding-bottom-3x mb-1">
    <div class="table-responsive shopping-cart">
        <table class="table" id="cartTable">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody>
                    {% for item in items_in_cart %}
                        <tr id="row_{{item.item_id}}">
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="{{item.img}}" alt="Product"></a>
                                    <div class="product-info">
                                        <input type="hidden" name="item_id" value="{{item.item_id}}">
                                        <h4 class="product-title"><a href="{{ url_for('index.detail')}}?stock_id=1">{{item.name}}</a></h4>
                                        <span><em>Seller:</em> {{seller_id_name_dict.get(item.seller_id)}}</span>
                                        <span><em>Add Time:</em> {{item.update_time}}</span>
                                    </div>
                                    <input type="hidden" name="item_status" value="{{item.item_status}}">
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="form-group" >
                                    {% if item.item_status== 3 %}
                                        <label style="color:red;"> Product invalid...</label>
                                        <input type="hidden" id="quantity" class="quantity" min="0" max="0" name="quantity" value="0" type="number" disabled>
                                    {% else %}
                                        {% if item.item_status== 1 %}
                                            <label id="stock_remain"> {{item.stock_qty}} remain in stock...</label>
                                        {% else %}
                                            <label style="color:red;"> Currently out of Stock..Only {{item.stock_qty}} remain in stock.</label>
                                        {% endif %}
                                        <div class="def-number-input number-input safari_only">
                                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown();updateSubTotal(); checkReadyToCheckout(); " class="minus"></button>
                                            <input id="quantity" class="quantity" min="1" max="{{item.stock_qty}}" name="quantity" value="{{item.cart_qty}}" type="number">
                                            <button type="button" onclick=" this.parentNode.querySelector('input[type=number]').stepUp();updateSubTotal(); checkReadyToCheckout();" class="plus"></button>
                                        </div>
                                    {% endif %}
                                    <input type="hidden" name="stock_qty" value="{{item.stock_qty}}">
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">
                                {% if item.item_status!= 3 %}
                                    <input type="hidden" name="unit_price" value="{{item.unit_price}}">
                                {% else %}
                                    <input type="hidden" name="unit_price" value="0">
                                {% endif %}
                                {% if item.item_status!= 3 %}
                                    ${{item.unit_price}}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                    <button class="btn" onclick="delete_single_item('{{item.item_id}}');checkReadyToCheckout()">
                                        <i class="fa fa-trash remove-from-cart"></i>
                                    </button>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <input type="hidden" id="total_price" value="{{total_price}}" />
        <div class="column text-lg">Total: $<span class="text-medium" id="subTotal">{{total_price}}</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column text-lg">Your Balance: $<span class="text-medium" id="balance">{{balance}}</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column" onclick="update_carts()"><a class="btn btn-outline-secondary" href="{{ url_for('index.index')}}" ><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
        <div class="column">
            {% if ready_to_checkout %}
                <button class="btn btn-success" onclick="submit_carts()" id="checkout_btn" enabled >Checkout</button>
            {% else %}
                <button class="btn btn-success" id="checkout_btn" onclick="submit_carts();" disabled >Checkout</button>
            {% endif %}
        </div>
    </div>
</div>