<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('users.show_user') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Change password</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.pw.label }}<br/>
                {{ form.pw(size=32) }}<br/>
                {% for error in form.pw.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.pw2.label }}<br/>
                {{ form.pw2(size=32) }}<br/>
                {% for error in form.pw2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>

            <button class="grey" onclick="window.location.href='{{ url_for('users.show_user') }}'" >Cancel</button>
    </div>
</body>
</html>