<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Checkout example · Bootstrap v5.1</title>
    <script src="{{ url_for('static', filename='js/checkout.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <div class="container">
    <div class="py-5 text-center">
        <h2 style="color:green">Your order is placed!</h2>
    </div>
    <div class=".col-md-12">
      {% if checked_num > 0 %}
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Order {{order_num}}</span>
        </h4>
        <ul class="list-group mb-3 sticky-top">
            {% for item in items %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="my-0">{{item.name}}</h6>
                      <small class="text-muted">{{item.description}}</small>
                  </div>
                  <span class="text-muted">${{item.unit_price}} x {{item.cart_qty}}</span>
              </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                  <h6 class="my-0">Total</h6>
              </div>
              <span class="text-muted">${{total_price}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                  <h6 class="my-0">Remaining Balance</h6>
              </div>
              <span class="text-muted">${{balance}}</span>
            </li>
        </ul>
      {% endif %}
    </div>
    <div class=".col-md-12">
      {% if unchecked_num > 0 %}
        <div class="py-5">
          <h2 style="color:red">Problems Occured</h2>
        </div>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Unsuccessful Checkout</span>
        </h4>
        <ul class="list-group mb-3 sticky-top">
            {% for item in unchecked_items %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="my-0">{{item.name}}</h6>
                      <small class="text-muted">{{item.description}}</small>
                  </div>
                  <span class="text-muted">${{item.unit_price}} x {{item.cart_qty}}</span>
              </li>
            {% endfor %}
        </ul>
      {% endif %}
  </div>
    <button class="btn btn-primary btn-lg btn-block" onclick = "backToViewHistoryPurchase()">Purchases History</button>
    <button class="btn btn-warning btn-lg btn-block" onclick="backToCart()">View My Cart</button>
    <button class="btn btn btn-secondary btn-lg btn-block" onclick="backToShopping()">Back to Shopping</button></a>
</div>
