<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('sellers.inventory') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Edit inventory</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <h3>Product Name: {{data.name}}</h3>
        <h3>Seller ID:  {{data.seller_id}}</h3>
        <h3>Last Updated: {{data.update_time}}</h3>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br/>
                {{ form.name(size=32, value=data.name) }}<br/>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.quantity.label }} (Please enter integer)<br/>
                {{ form.quantity(size=32, value=data.quantity) }}<br/>
                {% for error in form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.price.label }} (Please enter integer or fraction)<br/>
                {{ form.price(size=32, value=data.price) }}<br/>
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image.label }} (Please enter the URL of the image)<br/>
                {{ form.image(size=64, value=data.image) }}<br/>
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br/>
                {% set f = form.description.process_data(data.description) %}
                {{ form.description(cols='35',rows = '10', content = data.description) }}<br/>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>
            <button class="grey" onclick="window.location.href='{{ url_for('sellers.delete_inventory') }}?stock_id={{data.stock_id}}'" >Delete</button>
            <br>
            <button class="grey" onclick="window.location.href='{{ url_for('sellers.inventory') }}'" >Cancel</button>
    </div>
</body>
</html>