<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('sellers.seller') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Edit seller account</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.b_name.label }}<br/>
                {{ form.b_name(size=32, value=data.b_name) }}<br/>
                {% for error in form.b_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.b_email.label }} (Could be fake email address)<br/>
                {{ form.b_email(size=64, value=data.b_email) }}<br/>
                {% for error in form.b_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.b_address.label }}<br/>
                {{ form.b_address(size=32, value=data.b_address) }}<br/>
                {% for error in form.b_address.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>

            <button class="grey" onclick="window.location.href='{{ url_for('sellers.seller') }}'" >Cancel</button>
    </div>
</body>
</html>