<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('users.show_user') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Edit account</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br/>
                {{ form.name(size=32, value=data.name) }}<br/>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }} (Could be fake email address)<br/>
                {{ form.email(size=64, value=data.email) }}<br/>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.address.label }}<br/>
                {{ form.address(size=32, value=data.address) }}<br/>
                {% for error in form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>

            <button class="grey" onclick="window.location.href='{{ url_for('users.show_user') }}'" >Cancel</button>
    </div>
</body>
</html>