<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <div class="col-md-6">
                  <div class="pro-img-details" style=" width: auto; height: auto; max-width: 100%; max-height: 100%;	 ">
                      <img src={{stock_detail.image}} alt="">
                  </div>
              </div>
              <div class="col-md-6">
                  <h4 class="pro-d-title" style="font-size:30px">
                      <p>
                            {{stock_detail.name}}
                      </p>
                  </h4>
                  <p>
                    {{stock_detail.description}}
                  </p>
                  <form id="add_cart" action = "{{ url_for('cart.add_cart') }}" method = "POST" >
                    <input type="hidden" name="stock_id" value="{{stock_detail.stock_id}}" />
                    <input type="hidden" name="seller_id" value="{{stock_detail.seller_id}}" />
                    <div class="product_meta">
                        <span class="posted_in"><strong>Category: {{category}}</strong></span>
                        <span class="tagged_as"><strong>Sellor: {{sellor_name}}</strong></span>
                    </div>
                    <div class="m-bot15"> <strong>Price :  <span class="price"> ${{stock_detail.price}}</span></div>
                    <div class="form-group">
                        <label>Quantity ({{stock_detail.quantity}} remain in stock)</label>
                    </div>
                </form>
              </div>
          </div>
      </section>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="{{ url_for('sellers.inventory')}}"><i class="icon-arrow-left"></i>&nbsp;Back to Inventory</a></div>
    </div>
</div>
