<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    
    <div id="bg">
        <h1 id="login_title">Start your treasure hunt.</h1>

        <div id="login_form">
            <form id="login" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </p>

                <p>
                {{ form.email.label }}<br/>
                {{ form.email(size=32) }}<br/>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>

                <p>
                {{ form.password.label }}<br/>
                {{ form.password(size=32) }}<br/>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>

                {{ form.submit(class_="btn") }}
            </form>

            <p>New treasure hunter? Sign up <a href="{{ url_for('users.register') }}">here</a>.</p>
        </div>

    </div>
</body>

</html>

