<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>



    <div class="top_bar">
        <a id="back" href="{{ url_for('sellers.seller') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Orders</h3>
        </div>
        <div class="search_bar">
            <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.input.label }}
            {{ form.input(size=32) }}
            
            {{ form.from_date.label }}
            {{ form.from_date }}
                {% for error in form.from_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {{ form.to_date.label }}
            {{ form.to_date }}
                {% for error in form.to_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {{ form.submit(class_="btn") }}
            </form>
            <button class="grey" onclick="window.location.href='{{ url_for('sellers.orders') }}'" >Reset</button>
        </div>
    </div>
    <div class="blue_line"></div>
    <div class="main_content">
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        {% for order in orders%}
                <div class="product_info">
                    <br>
                    <h3>Order: {{order.order_num}}</h3>
                    {% if order.status == 'Unfulfilled' %}
                        <h4 style="color: grey">{{order.status}}</h4>
                    {% else %}
                        <h4 style="color: green">{{order.status}}</h4>
                    {% endif %}   
                    <h4>{{order.delivery_time}}</h4>
                    <h4>Update Time: {{order.update_time}}</h4>
                    <h4>Name: {{order.name}}</h4>
                    <h4>Address: {{order.address}}</h4>
                    <h4>Number of Items: {{order.quantity}}</h4>
                      
                    <button onclick="window.location.href='{{ url_for('sellers.order_details') }}?order_num={{order.order_num}}'" >Manage</button>
                </div>
        {% endfor %}
        <br>

        <div>
            <nav aria-label="...">
                <ul class="pagination">
                    <input type="hidden" id="current_page" value="{{current_page}}" />
                    <input type="hidden" id="last_page" value="{{last_page}}" />
                    {% for page in page_list %}
                        {% if page.current_selected %}
                        <li class="page-item active" >
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% elif page.enabled %}
                        <li class="page-item">
                            <a class="page-link" href="#" onclick ="nextPage('{{page.page_num}}')">{{page.page_num}}</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
              </nav>
        </div>

    </div>

    <!-- <div class="paging">
        <a class="active">{{current_page}}</a>
    </div> -->

</body>

</html>