<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product_detail.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 



</head>
<div class="row g-3 mt-2">
    <div class="col-md-9">
    </div>
    <div class="col-md-1"><a href="{{ url_for('users.show_user')}}">Account</a></div>
    <div class="col-md-1"><a href="{{ url_for('sellers.seller')}}">Selling Treasures</a></div>
    <div class="col-md-1">
        <a href="{{ url_for('cart.cart')}}">
            <img  src="{{ url_for('static', filename='images/chest.png') }}">
        </a>
    </div>
</div>

<div class="blue_line"></div>
<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="pro-img-details" style=" width: auto; height: auto; max-width: 100%; max-height: 100%;	 ">
                    <img src="{{stock_detail.image}}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="pro-d-title" style="font-size:30px">
                    <p>
                        {{stock_detail.name}}
                    </p>
                </h4>
                <p>
                    {{stock_detail.description}}
                </p>
                <input type="hidden" id="stock_id" value="{{stock_detail.stock_id}}" />
                <input type="hidden" id="seller_id" value="{{stock_detail.seller_id}}" />                <div class="product_meta">
                    <span class="posted_in"><strong>Category: {{category}}</strong></span>
                    <span class="tagged_as"><strong>Sellor: {{sellor_name}}</strong></span>
                </div>
                <div class="m-bot15"> <strong>Price :  <span class="price"> ${{stock_detail.price}}</span></div>
                <div class="form-group">
                    {% if stock_detail.quantity > 0 %}
                        <label>Quantity ({{stock_detail.quantity}} remain in stock)</label>
                        <div class="def-number-input number-input safari_only">
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                            <input class="quantity" min="1" max="{{stock_detail.quantity}}" id="quantity" value="1" type="number">
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div>
                    {% else %}
                        <label style="color:red"> Currently out of stock</s></label>
                    {% endif %}
                </div>
            </div>
            {% if stock_detail.quantity > 0 %}
                <p>
                    <button class="btn btn-warning add-cart-button" onclick="addCart()"> Add to Cart</button>
                </p>
            {% endif %}
        </div>
    </section>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="{{ url_for('index.index')}}"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
    </div>
</div>
