<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/purchase_history.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <div class="top_bar">
        <a id="back" href="{{ url_for('users.show_user') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Purchase history</h3>
        </div>
        <div class="search_bar">
            <form action="" method="post" novalidate>

            {{ form.hidden_tag() }}
            {{ form.input.label }}
            {{ form.input(size=32) }}<br>

                {{ form.from_date.label }}
                {{ form.from_date(size=16) }}
                    {% for error in form.from_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                {{ form.to_date.label }}
                {{ form.to_date(size=16) }}
                    {% for error in form.to_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                {{ form.submit(class_="btn", onclick="submitSearch()")}}
            </form>
            <button class="grey" onclick="window.location.href='{{ url_for('users.purchase_history') }}'" style="border-radius:3.5px; height:40%" >Reset</button>
        </div>
    </div>
    <div class="blue_line"></div>
    <div class="main_content">
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        {% for record in order_summaries%}
            <div class="list_item">
                <h2><a href="{{ url_for('users.order_details') }}?order_num={{record.order_num}}">Order #{{record.order_num}}</a></h2><br>
                <h3>Order time: {{record.order_time}}</h3>
                <h3>Total price: ${{record.total_price}}</h3>
                <h3>{{record.total_quant}} item(s) purchased.</h3>
                <h3>{{record.status}}.</h3>
            </div>
        {% endfor %}
        <div>
            <nav aria-label="...">
                <ul class="pagination">
                    <input type="hidden" id="current_page" value="{{current_page}}" />
                    <input type="hidden" id="last_page" value="{{last_page}}" />
                    {% for page in page_list %}
                        {% if page.current_selected %}
                        <li class="page-item active" >
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% elif page.enabled %}
                        <li class="page-item">
                            <a class="page-link" href="#" onclick ="nextPage('{{page.page_num}}')">{{page.page_num}}</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
              </nav>
        </div>
    </div>
</body>
</html>