<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div id="bg">
        <h1 id="sign_up_title">Welcome, <br />new treasure hunter.</h1>
        <div id="login_form">
            <form id="sign_up" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br/>
                {{ form.name(size=32) }}<br/>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }} (Could be fake email address)<br/>
                {{ form.email(size=64) }}<br/>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br/>
                {{ form.password(size=32) }}<br/>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br/>
                {{ form.password2(size=32) }}<br/>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.address.label }}<br/>
                {{ form.address(size=32) }}<br/>
                {% for error in form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
                <p>{{ form.submit(class_="btn") }}</p>
            </form>
            <p>Already have an account? Login <a href="{{ url_for('users.login') }}">here</a>.</p>
        </div>

    </div>
</body>

</html>
