<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>

<body>

    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}

    <div class="row g-3 mt-2">
        <div class="col-md-2">
            <select id="sort" name = "sort" style = "width:100%; height:78%; padding:8px; border-color: #ced4da; border-radius: 0.25rem;">
                {% for option in sort_list %}
                    {% if option.selected %}
                        <option value = "{{option.value}}" selected>{{option.option}}</option>
                    {% else %}
                        <option value = "{{option.value}}">{{option.option}}</option>
                    {% endif %}
                {% endfor %}   
            </select>
        </div>
        <div class="col-md-1 ">
            <select id="category" name = "category" style = "width:100%; height:78%; padding:8px; border-color: #ced4da; border-radius: 0.25rem;">
                <option value = "-1">ALL</option>
                {% for category in avail_categories%}
                    {% if category.category_id == selected_category %}
                        <option value="{{category.category_id}}" selected>{{category.name}}</option>
                    {% else %}
                        <option value="{{category.category_id}}">{{category.name}}</option>
                    {% endif %}
                {% endfor %}   
            </select> 
        </div>
        <div class="col-md-5" style="padding-right: 0; padding-left: 0;">
            <input id="keyword" type="text" name="search_key" class="form-control" value="{{key_word}}" style="width:100%">
        </div>
        <div class="col-md-1"> 
            <button class="btn btn-secondary btn-block" onclick="submitSearch()">Search</button> 

        </div>
        <div class="col-md-1"><a href="{{ url_for('users.show_user')}}">Account</a></div>
        <div class="col-md-1"><a href="{{ url_for('sellers.seller')}}">Selling Treasures</a></div>
        <div class="col-md-1">
            <a href="{{ url_for('cart.cart')}}">
                <img  src="{{ url_for('static', filename='images/chest.png') }}">
            </a>
        </div>
    </div>

    <div class="blue_line"></div>

    <div class="main_content">
        {% for stock in avail_stocks%}
            <div class="list_item">
                <img src="{{stock.image}}" />
                <div class="product_info" >
                    <h3 style="text-decoration:none;"><a href="{{ url_for('index.detail')}}?stock_id={{stock.stock_id}}" style="color:#333333;">{{stock.name}}</a></h3>
                    <h4 style="margin-bottom: 0;">${{stock.price}}</h4>
                    <p style="font-size: 20px;margin-bottom: 0;">sellor: {{seller_id_name_dict.get(stock.seller_id)}}</p>
                    <p style="font-size: 20px;margin-bottom: 0;">description: {{stock.description}}</p>
                </div>
            </div>
        {% endfor %}
        <div >
            <nav aria-label="...">
                <ul class="pagination">
                    <input type="hidden" id="current_page" value="{{current_page}}" />
                    <input type="hidden" id="last_page" value="{{last_page}}" />
                    {% for page in page_list %}
                        {% if page.current_selected %}
                        <li class="page-item active" >
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% elif page.enabled %}  
                        <li class="page-item">
                            <a class="page-link" href="#" onclick ="nextPage('{{page.page_num}}')">{{page.page_num}}</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{page.page_num}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
              </nav>
        </div>
    </div>
</body>

</html>