<!DOCTYPE html>
<html lang="en">

<head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wanyi.css') }}">
</head>

<body>

    <!-- for flash alert box-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}



    <div class="top_bar">
        <a id="back" href="{{ url_for('index.index') }}"><img  src="{{ url_for('static', filename='images/wheel.png') }}" /></a>
        <div class="page_title">
            <h3>Seller Home</h3>
        </div>
    </div>
    <div class="blue_line"></div>

    <div class="main_content">
        <h2>{{ user.name }}</h2>
        <p>Account number: {{ user.id }}</p>
        <p>Business Name: {{seller.b_name}}
        <p>Business Email: {{ seller.b_email }}</p>
        <p>Business Address: {{ seller.b_address }}</p>

        <button onclick="window.location.href='{{ url_for('sellers.edit_seller_account') }}'" >Edit info</button>
        <button class="grey" onclick="window.location.href='{{ url_for('users.logout') }}'" >Log out</button>

        <br>

        <h2>Inventory</h2>
        <h3>You are selling {{num}} item</h3>
        <button onclick="window.location.href='{{ url_for('sellers.inventory') }}'" >Manage</button>

        <br>

        <h2>Orders</h2>
        <h3>You have {{num_unfulfilled}} order unfulfilled and {{num_fulfilled}} order fulfilled</h3>
        <button onclick="window.location.href='{{ url_for('sellers.orders') }}'" >View</button>

        <h2>Stats and analytics</h2>
        <h3>View your hottest products and products that are running low</h3>
        <button onclick="window.location.href='{{ url_for('sellers.running_low') }}'" >View</button>
     
    </div>
</body>
</html>